body {
  background-image: url(https://cdn.glitch.com/61c2686c-d683-47b6-a5e3-1dd789d4e030%2Fjohannes-plenio-unsplash-reduced.jpg?v=1590460892283);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

main #content {
  height: 100vh; }
  main #content > .row {
    height: 100%; }
  main #content #panelLeft {
    background-color: #611818;
    position: relative; }

#innerContent {
  position: absolute;
  bottom: 15%;
  left: 25%; }
  #innerContent h1#title {
    font-size: 13rem;
    color: white;
    font-family: serif; }
  #innerContent .btn-open {
    color: #611818;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
    cursor: pointer; }
    #innerContent .btn-open .open-icon-container {
      width: 43px;
      height: 43px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin-right: 25px; }
    #innerContent .btn-open .text {
      color: white;
      font-size: 25px; }

.card-state-open {
  display: none; }
  .card-state-open .card {
    border-radius: 0; }
    .card-state-open .card .btn-close {
      position: absolute;
      right: 25px;
      top: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1; }
      .card-state-open .card .btn-close > span {
        color: #611818;
        font-size: 22px;
        cursor: pointer; }
    .card-state-open .card .card-body {
      padding: 50px 75px;
      border-radius: 0; }
      .card-state-open .card .card-body .card-title {
        font-family: serif;
        color: #611818;
        font-size: 4rem;
        margin-bottom: 20px; }
      .card-state-open .card .card-body .underline {
        height: 2px;
        width: 66%;
        margin-bottom: 33px;
        background: #611818;
        background: linear-gradient(90deg, #611818 0%, rgba(255, 255, 255, 0) 100%); }
      .card-state-open .card .card-body .card-text {
        line-height: 30px;
        color: #505050;
        margin-bottom: 50px; }
      .card-state-open .card .card-body .btn.btn-primary {
        border-radius: 0;
        background: #611818;
        text-transform: uppercase;
        padding: 12px 30px;
        border: none;
        background: linear-gradient(90deg, #611818 0%, #a36754 100%); }
