$brandColor : #611818;

body {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(https://cdn.glitch.com/61c2686c-d683-47b6-a5e3-1dd789d4e030%2Fjohannes-plenio-unsplash-reduced.jpg?v=1590460892283);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  overflow:hidden;
  animation-name: forest-glow;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}


main {
  #content {
    height: 100vh;
    &>.row {
      height: 100%;
    }
    #panelLeft{
      background-color: $brandColor;
      position: relative;
    }
  }
}



.card-state-closed {
  position: absolute;
  bottom: 8rem;
  left: -230px;
  transition: opacity 1s ease-out;
  h1#title {
    font-size: 13rem;
    color: white;
    font-family: serif
  }
  .btn-open {
    position:relative;
    top: -45px;
    left: 50px;
    color: $brandColor;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    cursor: pointer;
    .text {
      position: relative;
      left: -10px;
      color: white;
      font-size: 18px;
    }
  }
}


.card-state-open {
  display:none;
  opacity:0;
  position: absolute;
  top: 50%;
  transform: translate(-33%,-50%);
  transition: all 1s ease;
  .card {
    border-radius: 0;
    width: 36rem;
    .btn-close {
      position:absolute;
      right: 25px;
      top: 15px;
      cursor: pointer;
      display:flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      & > span {
        color: $brandColor;
        font-size: 22px;
        cursor: pointer;
      }
    }
    .card-body {
      padding: 50px 60px;
      border-radius: 0;
      .card-title {
        font-family: serif;
        color: $brandColor;
        font-size: 4rem;
        margin-bottom: 15px;
        
      }
      .underline {
        height: 2px;
        width: 66%;
        margin-bottom: 20px;
        background: rgb(97,24,24);
        background: linear-gradient(90deg, rgba(97,24,24,1) 0%, rgba(255,255,255,0) 100%);
      }
      .card-text {
        line-height: 30px;
        color: #505050;
        margin-bottom: 30px;
        font-size: 1rem;
      }
      .btn.btn-primary {
        border-radius: 0;
        background: rgb(97,24,24);
        text-transform: uppercase;
        padding: 10px 60px;
        border: none;
        background: linear-gradient(90deg, rgba(97,24,24,1) 0%, rgba(163,103,84,1) 100%);
        letter-spacing: 1px
      }
    }
  }
  &.active{
    display:block;
    animation-name: clip-from-diamond;
    animation-duration: 1.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  &.wipe-up {
      animation-name: clip-wipe-up;
    }
}


#social {
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  &>a {
    display:block;
    width: 48px;
    height: 48px;
    font-size: 48px;
    margin-bottom: 15px;
    color:white;
  }
  #socialInstagram {
    border-radius: 50%;
  }
}



.icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  padding-top: 1px;
  &.white {
    background-color:white;
  }
}


/* mobile styles adjusted but an afterthought here  */


@media  (max-width: 768px) {

    .card-state-closed {
      position: relative;
      left: 0;
        top: -162px;
      transition: opacity 1s ease-out;
      h1#title {
        font-size: 11rem;
        color: white;
        font-family: serif
    }
    .btn-open {
      position:relative;
      top: -45px;
      left: 0;
      color: $brandColor;
      display: flex;
      justify-content:flex-start;
      align-items: center;
      cursor: pointer;
      .text {
        position: relative;
        left: -10px;
        color: white;
        font-size: 18px;
      }
    }
      
  }
  
  

  .card-state-open {
    display:none;
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1s ease;
    transform: translateX(0);
    .card {
      width: 100vw;
    }
    &.active{
      display:block;
      animation-name: clip-wipe-down;
      animation-duration: 1.25s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
    &.wipe-up {
        animation-name: clip-wipe-up;
      }
  }
}




@media (max-width: 460px) {

    .card-state-closed {
      position: relative;
      left: 0;
      top: -59px;
      h1#title {
        font-size: 4rem;
    }
    .btn-open {
      position:relative;
      top: 0;
      left: 0;
      color: $brandColor;
      display: flex;
      justify-content:flex-start;
      align-items: center;
      cursor: pointer;
      .text {
        position: relative;
        left: -10px;
        color: white;
        font-size: 18px;
      }
    }
  }
  

  .card-state-open {
    display:none;
    opacity:0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1s ease;
    transform: translateX(0);
    overflow-y: scroll;
    .card {
      width: 100vw;
      .card-body {
        padding: 25px;
      }
    }
    &.active{
      display:block;
      animation-name: clip-wipe-down;
      animation-duration: 1.25s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
    &.wipe-up {
        animation-name: clip-wipe-up;
      }
  }

  
}



@keyframes clip-from-diamond {
  0% {
    opacity: 0;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}



@keyframes clip-wipe-up {
  0% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  99% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}


@keyframes clip-wipe-down{
  0% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  
  99% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
}


@keyframes forest-glow {
  0% {
    filter: brightness(.75) contrast(.75) sepia(.75)
  }
  
  100% {
    filter: brightness(1) contrast(1)
  }
}